.idea/dash-produtos.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/auxiliares.cpython-313.pyc
__pycache__/graficos_formatados.cpython-313.pyc
consolidated-report.xlsx
